@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	transition: 0.5s;
}

html, body {
	max-width: 100%;
    overflow: hidden;
}

:root {
	--clr: #222327;
	--lime: lime;
	--darkgreen: darkgreen;
	--white: #fff;
	--grey: grey;
}

#blob{
    background-color: white;
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(
        to right,
        rgb(13, 192, 132),
        rgb(85, 0, 255)
    );
    animation: rotate 20s infinite;
    filter: blur(100px)
}
@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

h2 {
	color: var(--white);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--white);
}

header {
	position: absolute;
	align-items: center;
	top: 0;
	margin-top: 30px;
}

.nav {
	position: relative;
	width: 400px;
	height: 70px;
	background: var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.nav ul {
	display: flex;
	width: 350px;
}

.nav ul li {
	position: relative;
	list-style: none;
	width: 85px;
	height: 70px;
	z-index: 1;
}

.nav ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

.nav ul li a .icon {
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--white);
}

.nav ul li a .text {
	position: absolute;
	color: var(--white);
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}

.nav ul li:hover a .icon {
	transform: translateY(-12px);
}

.nav ul li:hover a .text {
	opacity: 1;
	transform: translateY(8px);
}

.hero h2 {
	color: var(--grey);
}

.hero .me {
	color: var(--clr);
	line-height: 1.2;
}

.hero .title {
	color: var(--darkgreen);
	font-size: 5.5em;
	margin-bottom: 0em;
	line-height: 1.2;
}

/* Should be at the bottom of the file for aesthetics*/

.cssbtn {
	transform: rotate(360deg);
	opacity: 0;
	position: fixed;
	color: var(--clr);
	right: 0;
	bottom: 0;
	z-index: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 50px;
	width: 75px;
	border-radius: 10px;
	border: none;
	transition: 0.7s;
}
.cssbtn:hover {
	opacity: 1;
}
